{% extends "base.html" %}
{% block content %}
    <div class="main_menu">
        <a href="/analysis_g_const_m_diff" class="menu_btn">Fixed g_obj / varies m</a>
        <a href="/analysis_g_const_l_diff" class="menu_btn">Fixed g_obj / varies l</a>
        <a href="/analysis_g_const_h_diff" class="menu_btn">Fixed g_obj / varies h</a>
        <a href="/analysis_g_const_r_diff" class="menu_btn">Fixed g_obj / varies r_max</a>
        <a href="/analysis_g_const" class="menu_btn">Fixed g_obj / summary analysis</a>
    </div>
{% endblock %}