<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    {% block css %} {% endblock %}
    {% block js %} {% endblock %}
</head>
<body>
<header>
    <a href="/" class="logo_a"><img src="{{ url_for('static', filename='images/logo.png') }}" class="logo"></a>
    <h1 class="header_title">Dataset Generator</h1>
</header>
<div class="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>