{% extends "base.html" %}
{% block content %}
<form class="main_menu" method="post">
    <div class="flex-bar">
        <div class="tab">
            <div class="input_group">
                <span>{{form.h.label}}</span>
                {{form.h(class_="generator_input")}}
                {% with errors = get_flashed_messages(category_filter=["h"]) %}
                {% if errors %}
                {% for msg in errors %}
                <span class="error_label">{{ msg }}</span>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>
            <div class="input_group">
                <span>{{form.l.label}}</span>
                {{form.l(class_="generator_input")}}
                {% with errors = get_flashed_messages(category_filter=["l"]) %}
                {% if errors %}
                {% for msg in errors %}
                <span class="error_label">{{ msg }}</span>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>
            <div class="input_group">
                <span>{{form.g_min.label}}</span>
                {{form.g_min(class_="generator_input")}}
                {% with errors = get_flashed_messages(category_filter=["g_min"]) %}
                {% if errors %}
                {% for msg in errors %}
                <span class="error_label">{{ msg }}</span>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>
            <div class="input_group">
                <span>{{form.g_max.label}}</span>
                {{form.g_max(class_="generator_input")}}
                {% with errors = get_flashed_messages(category_filter=["g_max"]) %}
                {% if errors %}
                {% for msg in errors %}
                <span class="error_label">{{ msg }}</span>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>
            <div class="input_group">
                <span>{{form.fi_min.label}}</span>
                {{form.fi_min(class_="generator_input")}}
                {% with errors = get_flashed_messages(category_filter=["fi_min"]) %}
                {% if errors %}
                {% for msg in errors %}
                <span class="error_label">{{ msg }}</span>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>
            <div class="input_group">
                <span>{{form.fi_max.label}}</span>
                {{form.fi_max(class_="generator_input")}}
                {% with errors = get_flashed_messages(category_filter=["fi_max"]) %}
                {% if errors %}
                {% for msg in errors %}
                <span class="error_label">{{ msg }}</span>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="tab">
            <!--div class="input_group">
                <span>{{form.object_on_y_axis.label}}</span>
                {{form.object_on_y_axis()}}
            </div-->
            <div class="input_group">
                <span>{{form.r_min.label}}</span>
                {{form.r_min(class_="generator_input")}}
                {% with errors = get_flashed_messages(category_filter=["r_min"]) %}
                {% if errors %}
                {% for msg in errors %}
                <span class="error_label">{{ msg }}</span>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>
            <div class="input_group">
                <span>{{form.r_max.label}}</span>
                {{form.r_max(class_="generator_input")}}
                {% with errors = get_flashed_messages(category_filter=["r_max"]) %}
                {% if errors %}
                {% for msg in errors %}
                <span class="error_label">{{ msg }}</span>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>
            <div class="input_group">
                <span>{{form.n.label}}</span>
                {{form.n(class_="generator_input")}}
                {% with errors = get_flashed_messages(category_filter=["n"]) %}
                {% if errors %}
                {% for msg in errors %}
                <span class="error_label">{{ msg }}</span>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>
            <div class="input_group">
                <span>{{form.m.label}}</span>
                {{form.m(class_="generator_input")}}
                {% with errors = get_flashed_messages(category_filter=["m"]) %}
                {% if errors %}
                {% for msg in errors %}
                <span class="error_label">{{ msg }}</span>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <button class="menu_btn">Start</button>
</form>
{% endblock %}