{% extends "base.html" %}
{% block content %}
    <div class="main_menu">
        <a href="/g_const_m_diff" class="menu_btn">Фиксированный радиус объекта / варьируется число омматидиев</a>
        <a href="/g_const_l_diff" class="menu_btn">Фиксированный радиус объекта / варьируется радиус глаза</a>
        <a href="/g_const_h_diff" class="menu_btn">Фиксированный радиус объекта / варьируется расстояние между глазами</a>
        <a href="/g_const_r_diff" class="menu_btn">Фиксированный радиус объекта / варьируется максимальная дистанция до объекта</a>
    </div>
{% endblock %}