{% extends "base.html" %}
{% block content %}
    <div class="main_menu">
        <a href="/generate" class="menu_btn" target="_blank">Генерация датасета</a>
        <!--a href="/generate_test_case" class="menu_btn" target="_blank">Generate Test Case</a-->
        <a href="/generate_for_analysis" class="menu_btn" target="_blank">Генерация датасетов для анализа</a>
        <a href="/analysis" class="menu_btn" target="_blank">Анализ датасетов</a>
        <a href="/clean_dataset" class="menu_btn" target="_blank">Очистка датасетов от коллизий</a>
    </div>
{% endblock %}